@import "tailwindcss";
@plugin "daisyui" {
  themes: strabo --prefersdark, strabo --default;
}
@plugin "daisyui/theme" {
  name: "strabo";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: #e9e3d8;
  --color-base-200: #d5c3ad;
  --color-base-300: #b8ac9b;
  --color-base-content: #e9e3d8;
  --color-base-content-2: #3d342f;
  --color-warning: #0f3957;
  --color-warning-content: #e9e3d8;
  --color-secondary: #75443b;
  --color-secondary-content: #e9e3d8;
  --color-accent: #ca855f;
  --color-accent-content: #e9e3d8;
  --color-neutral: #0e1a23;
  --color-neutral-content: #e9e3d8;
  --color-info: #806c5c;
  --color-info-content: #e9e3d8;
  --color-success: oklch(51% 0.096 186.391);
  --color-success-content: #e9e3d8;
  --color-primary: #ebba70;
  --color-primary-content: #3d342f;
  --color-error: #a05846;
  --color-error-content: #e9e3d8;
  --radius-selector: 0.2rem;
  --radius-field: 0.2rem;
  --radius-box: 0.2rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;

  --color-fawn-50: oklch(97% 0.01 91.48);
  --color-fawn-100: oklch(92.6% 0.02 98.13);
  --color-fawn-200: oklch(85.37% 0.04 93.69);
  --color-fawn-300: oklch(76.26% 0.06 91.14);
  --color-fawn-400: oklch(68.44% 0.08 87.3);
  --color-fawn-500: oklch(62.92% 0.07 82.94);
  --color-fawn-600: oklch(55.05% 0.07 73.95);
  --color-fawn-700: oklch(48.25% 0.05 64.9);
  --color-fawn-800: oklch(41.76% 0.04 59.31);
  --color-fawn-900: oklch(38.19% 0.04 54.42);
  --color-fawn-950: oklch(26.12% 0.02 49.59);
}

@theme {
  --font-display: "Cinzel Decorative", "Cinzel Decorative Fallback";
  --font-body: "IM Fell English", "IM Fell English Fallback";
  --font-elements: "EB Garamond", "EB Garamond Fallback";

  --text-xs: 0.9rem;
  --text-xs--line-height: calc(1 / 0.9);
  --text-sm: 1.025rem;
  --text-sm--line-height: calc(1.25 / 1.025);
  --text-base: 1.15rem;
  --text-base--line-height: calc(1.5 / 1.15);
  --text-lg: 1.275rem;
  --text-lg--line-height: calc(1.75 / 1.275);
  --text-xl: 1.4rem;
  --text-xl--line-height: calc(1.75 / 1.4);
  --text-2xl: 1.65rem;
  --text-2xl--line-height: calc(2 / 1.65);
  --text-3xl: 2.025rem;
  --text-3xl--line-height: calc(2.25 / 2.025);
  --text-4xl: 2.4rem;
  --text-4xl--line-height: calc(2.5 / 2.4);
  --text-5xl: 3.15rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.9rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.65rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6.15rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8.15rem;
  --text-9xl--line-height: 1;

  --tracking-tighter: 0.05em;
  --tracking-tight: 0.075em;
  --tracking-normal: 0.1em;
  --tracking-wide: 0.125em;
  --tracking-wider: 0.15em;
  --tracking-widest: 0.2em;
}

.text-bright {
  background: linear-gradient(
    135deg,
    var(--color-base-100),
    var(--color-base-200) 66%,
    var(--color-primary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-base-100) var(--color-base-200);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--color-base-200);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-base-200);
  border-radius: 14px;
  border: 3px solid var(--color-base-200);
}

.gradient-btn {
  @apply text-xl bg-base-100/20 hover:text-primary-content backdrop-blur-sm hover:bg-gradient-to-bl hover:from-base-100 hover:to-primary transition-all text-base-200 font-elements;
}

.str-btn {
  @apply text-xl font-elements;
}
