@import "tailwindcss";
@plugin "daisyui" {
  themes: strabo-dark --prefersdark, strabo --default;
}
@plugin "daisyui/theme" {
  name: "strabo";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #e9e3d8;
  --color-base-200: #d5c3ad;
  --color-base-300: #b8ac9b;
  --color-base-content: #3d342f;
  --color-primary: #0f3957;
  --color-primary-content: #e9e3d8;
  --color-secondary: #75443b;
  --color-secondary-content: #e9e3d8;
  --color-accent: #ca855f;
  --color-accent-content: #e9e3d8;
  --color-neutral: #0e1a23;
  --color-neutral-content: #e9e3d8;
  --color-info: #806c5c;
  --color-info-content: #e9e3d8;
  --color-success: oklch(51% 0.096 186.391);
  --color-success-content: #e9e3d8;
  --color-warning: #ebba70;
  --color-warning-content: #3d342f;
  --color-error: #a05846;
  --color-error-content: #e9e3d8;
  --radius-selector: 0.25rem;
  --radius-field: 0rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "strabo-dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #3d342f;
  --color-base-200: #5e4e44;
  --color-base-300: #806c5c;
  --color-base-content: #e9e3d8;
  --color-primary: #1e72ae;
  --color-primary-content: #e9e3d8;
  --color-secondary: #ca855f;
  --color-secondary-content: #e9e3d8;
  --color-accent: #eec487;
  --color-accent-content: #3d342f;
  --color-neutral: #316c87;
  --color-neutral-content: #e9e3d8;
  --color-info: #9eada8;
  --color-info-content: #3d342f;
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: #d6a185;
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: #a05846;
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.25rem;
  --radius-field: 0rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
